/* CSS SORTED ALPHABETICALLY */
.grid-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    aspect-ratio: 2/2;
}
.grid-btn span{
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 1rem;
}
.grid-btn:focus{
        padding: 10px;
    width: 45px;
    border-radius: 30%;
    border: 4px solid skyblue;
    transition: border-radius 100ms;
}
header{
    height: 3.5rem;
    font-size: small;
}
.hover-items{
    position: absolute;
    top: 4.1rem;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}
.hover-display+.display{
    display: none;
    right: -50px;
}
.hover-display:hover+.display,.display:hover{
    display: block;
}
.logo-container-2{
    aspect-ratio: 10/14;
}
.mobile-menu-btn{
    display: none;
}
.mobile-nav{
    position: fixed;
    width: 100%;
    overflow: hidden;
    transition: all ease 500ms;
    top: -100%;
}
nav{
    height: 4rem;
    scroll-behavior: smooth;
    position: sticky;
    top: 0px;
}
.nav-link{
    color: black !important;
    font-weight: 600 !important;
    width: max-content;
}
.nav-link:hover{
    color: orangered !important;
}
.nav-item{
    position: relative;
    cursor: pointer;
}
.nav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: orangered;
    transition: width 0.4s linear; /* Adjust transition duration as needed */
}

.nav-item:hover::before {
    width: 100%;
}
.nav-item .active{
    background-color: aliceblue;
    border-radius: 1rem;
}
.small-box{
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    margin: 0px 0.1rem;
    border: 1px solid red;
}
.transition-nav{
    position: fixed;
    width: 100%;
    transition: all ease 500ms;
    top: 4.2rem;
    z-index: 1;
    backdrop-filter: blur(10px);
}
ul{
    margin: 0px !important;
    padding: 0px !important;
}
.w-60{
    width: 60px;
    height: 60px;

}
.w-max{
    width: max-content;
}
@media screen and (max-width:880px){
    .mobile-menu-btn{
        display: block;
    }
    .btn-smm{
        display: none !important;
    }
    .d-block-800{
    display: none;
    }
}
